.about-container .about-section {
  display: grid;
  grid-template-columns: 30% 70%;

  padding-bottom: 20px;
  margin-bottom: 20px;
}

.about-container > p {
  margin-bottom: 32px;
}

.about-container > p:last-of-type {
  margin-bottom: 128px;
}

.about-container .about-section:not(:last-of-type) {
  border-bottom: 1px solid var(--neutral-color-7);
}

.about-section-content p:not(:last-of-type) {
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .about-container .about-section {
    display: flex;
    flex-direction: column;
  }
  .about-section-title {
    margin-bottom: 16px;
  }
}
