.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}

.contact-container > div > p {
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .contact-container > div {
    width: 100%;
  }

  div.pricing {
    margin-top: 20px;
  }
}
