@font-face {
    font-family: 'Source Sans 3';
    src: url('../fonts/SourceSans3-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('../fonts/SourceSans3-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('../fonts/SourceSans3-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('../fonts/SourceSans3-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('../fonts/SourceSans3-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('../fonts/SourceSans3-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('../fonts/SourceSans3-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('../fonts/SourceSans3-Black.ttf') format('truetype');
    font-weight: 900;
}