header {
  background-color: var(--neutral-color-1);
  color: var(--neutral-color-9);
  border-bottom: 1px solid var(--neutral-color-7);
}

header > div {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

header > div img.logo {
  height: 2rem;
}

div.social-media {
  display: flex;
  gap: 10px;
}

div.social-media img.social-media-icon {
  cursor: pointer;
  width: 32px;
}

div.social-media img.social-media-icon:hover {
  filter: saturate(50%) brightness(0.8);
}

@media (max-width: 768px) {
  header > div img.logo {
    height: 1.6rem;
  }
}
