h1 {
  font-size: 2.4rem;
  color: var(--neutral-color-2);
  margin-bottom: 40px;
  padding-bottom: 8px;
  font-weight: 600;
  text-align: center;
}

h2 {
  font-size: 1.6rem;
  font-weight: 500;
  padding-bottom: 20px;
}

strong {
  font-weight: 600;
}

p {
  line-height: 1.4rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.2rem;
  }
}
