:root {
  --primary-color-1: #044e54;
  --primary-color-2: #0a6c74;
  --primary-color-3: #0e7c86;
  --primary-color-4: #14919b;
  --primary-color-5: #2cb1bc;
  --primary-color-6: #38bec9;
  --primary-color-7: #54d1db;
  --primary-color-8: #87eaf2;
  --primary-color-9: #bef8fd;
  --primary-color-10: #e0fcff;

  --neutral-color-1: #102a43;
  --neutral-color-2: #243b53;
  --neutral-color-3: #334e68;
  --neutral-color-4: #486581;
  --neutral-color-5: #627d98;
  --neutral-color-6: #829ab1;
  --neutral-color-7: #9fb3c8;
  --neutral-color-8: #bcccdc;
  --neutral-color-9: #d9e2ec;
  --neutral-color-10: #f0f4f8;

  --max-width: 1000px;
  --header-height: 80px;
  --responsive-breakpoint: 768px;
}

@media (max-width: 768px) {
  :root {
    --header-height: 70px;
  }
}
